/* src/components/pagination/styles.scss */
@use '../../../../styles/utils/' as *;

.pagination {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    margin-top: vw(30px);
    user-select: none;

    .pagination-list {
        display: flex;
        align-items: center;
        gap: 24px; // 숫자 간 간격
    }

    .pagination-btn,
    .pagination-page {
        border: 0;
        background: transparent;
        transition: 0.5s;
        cursor: pointer;
    }

    .pagination-page {
        width: 36px;
        height: 36px;
        line-height: 1;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: rem(24px);
        border-radius: 50px;
        &:hover {
            transform: translateY(-10%);
        }
    }

    /* 활성 숫자 = 연한 회색 배경으로 하이라이트 */
    .pagination-page.is-active {
        background-color: #12b560;
        color: #fff;
        font-weight: 500;
    }

    /* 좌/우 화살표 (‹ ›) */
    .pagination-btn {
        width: vw(28px);
        height: vw(28px);
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
        &.is-disabled {
            opacity: 0.8;
            pointer-events: none;
        }
    }

    /* 모바일 조정 */
    @media (max-width: 480px) {
        .pagination-list {
            gap: 14px;
        }
        .pagination-page {
            width: 32px;
            height: 32px;
        }
        .pagination-btn {
            width: 24px;
            height: 24px;
        }
    }
}
