@use '../../styles/utils' as *;

.home {
    width: 100%;
    .inner {
        padding: 100px 0;
    }
    h2 {
        @include font-32px-B;
    }
    @include tablet {
        .inner {
            padding: 3rem 0;
            background-color: skyblue;
        }
        h2 {
            font-size: 3rem;
        }
    }
}
/*
@include tablet {
    .home {
        .inner {
            padding: 50px 0;
            background-color: pink;
        }
        h2 {
            @include font-18px-B;
        }
    }
}
    */
