#content4 {
    .row {
        display: flex;
        gap: 30px;
    }

    h4 {
        font-size: 32px;
        font-weight: 700;
        color: #212121;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 50px;
    }

    .service-box {
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
        // perspective: 1000px;
        // -webkit-perspective: 1000px;
        width: 250px;
    }
    .service-icon {
        width: 100%;
        height: 220px;
        padding: 20px;
        text-align: center;
        transition: all 0.5s ease;
    }

    .service-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        width: 100%;
        height: 220px;
        padding: 0 20px;
        text-align: center;
        transition: all 0.5s ease;
        background-color: #12b560;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        -webkit-transform: translateY(110px) rotateX(-90deg);
        -moz-transform: translateY(110px) rotateX(-90deg);
        -ms-transform: translateY(110px) rotateX(-90deg);
        -o-transform: translateY(110px) rotateX(-90deg);
        transform: translateY(110px) rotateX(-90deg);
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            display: block;
        }
    }

    .text {
    }
    .service-box .service-icon .front-content {
        position: relative;
        top: 80px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .service-box .service-icon .front-content h3 {
        font-size: 18px;
        color: #fff;
        text-align: center;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .service-box .service-content h3 {
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 10px;
        text-transform: uppercase;
        word-break: break-all;
        display: block;
    }
    .service-box .service-content p {
        font-size: 13px;
        color: #fff;
        margin: 0;
        word-break: keep-all;
        font-weight: 300;
        button {
            display: block;
            margin: auto;
            background: #fff;
            border: none;
            font-size: 10px;
            padding: 5px 10px;
            border-radius: 50px;
            margin-top: 10px;
            font-weight: 600;
            cursor: pointer;
        }
    }
    .yellow {
        background-color: #888;
    }
    .orange {
        background-color: #888;
    }
    .red {
        background-color: #888;
    }
    .grey {
        background-color: #888;
    }
    .pink {
        background-color: #888;
    }
    .service-box:hover {
        transform: scale(1.3);
        z-index: 10;
    }
    .service-box:hover .service-icon {
        opacity: 0;
        -webkit-transform: translateY(-110px) rotateX(90deg);
        -moz-transform: translateY(-110px) rotateX(90deg);
        -ms-transform: translateY(-110px) rotateX(90deg);
        -o-transform: translateY(-110px) rotateX(90deg);
        transform: translateY(-110px) rotateX(90deg);
    }
    .service-box:hover .service-content {
        opacity: 1;
        -webkit-transform: rotateX(0);
        -moz-transform: rotateX(0);
        -ms-transform: rotateX(0);
        -o-transform: rotateX(0);
        transform: rotateX(0);
        // transform: scale(1.2);
    }
}
